@use "../base/config" as *;

section {
    width: 100%;
}

.section {
    padding: 1.5rem 20px;

    &:has(.searchbar) {
        padding: 1rem 20px;
    }

    &:has(+ hr) {
        padding-bottom: 0;
    }

    hr + & {
        padding-top: 0;
    }
}

.section:not(.form__section):not(.section--field)
    + .section:not(.form__section):not(.section--field) {
    margin-top: $padding-default;
}

.section--field {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: $border-settings;

    &.inline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;

        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        p {
            margin: 0;
        }
    }

    &:has(.link) {
        padding-right: 0;
    }
}

.field-group {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 14px;

    &:has(.link) {
        grid-template-columns: 1fr 70px;
    }

    .heading {
        margin: 0 0 4px 0;
    }

    &--multiline {
        p + p {
            margin-top: 4px;
        }
    }

    &:has(.subtitle) {
        align-items: flex-start;
    }

    // & + * {
    //     margin-top: 14px;
    // }

    &:has(.skeleton) {
        padding-right: 1.5rem;

        .field-group__details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .link {
            height: auto;
            padding: 0;

            &:hover {
                transform: none;
            }
        }
    }

    &__details {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .link {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        width: 70px;

        height: 100%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-right: 20px;
        transition: $default-transition;

        &:hover {
            transform: scale(1.05);
        }
    }

    & + .form__section {
        padding-right: 20px;
        padding-bottom: 1.5rem;
    }

    .link-loader {
        position: absolute;
        top: 0;
        right: 0;
        width: 70px;
        height: 100%;

        background-color: $bg-color;
        z-index: 5;
    }
}

.add-page .system-message + .section,
.add-page .section + .section {
    padding-top: 0;
    margin: 0 !important;

    hr {
        margin-top: 0;
    }
}

.add-page .system-message + .section {
    hr {
        opacity: 0;
    }
}
