@use "sass:color";
@use "../base/config" as *;

/* =============================================================================
  #TABBAR
============================================================================= */
.no-nav .tabbar {
    display: none;
}

.menu-is-open .tabbar {
    border-radius: 0;
    border-color: $line-color;
}

.tabbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    height: $tabbar-height;
    max-width: 480px;
    margin: 0 auto;

    background-color: $bg-color;

    border-top-left-radius: $mobile-corner-radius;
    border-top-right-radius: $mobile-corner-radius;

    transition: all 380ms ease-in-out;
    z-index: 2500;

    // bottom part of tabbar
    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: calc($tabbar-height - 50px);

        background-color: $tabbar-color;
    }

    &__shape {
        position: absolute;
        top: 0;
        left: 50%;
        height: 50px;
        width: 140px;

        transform: translateX(-50%);

        background-image: url("/assets/tabbar-shape.svg");

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
    }

    &__side {
        position: absolute;
        top: 0;
        bottom: 0;

        width: calc((100% - 140px) / 2);

        background-color: $tabbar-color;

        &.left {
            left: 0;
            border-top-left-radius: inherit;
        }
        &.right {
            right: 0;
            border-top-right-radius: inherit;
        }
    }

    .tabs {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 76px 1fr;

        padding: 1rem;
        gap: 24px;

        height: 100%;

        &__item {
            position: relative;
            height: 100%;
            min-width: calc(100% / 4 - 1rem);

            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;

                padding: 1rem 0;

                text-decoration: none;
                color: $text-color;

                border-radius: 30px;
                background-color: $tabbar-color;
                border: 2px solid $tabbar-line-color;

                i {
                    transition: $default-transition;
                }

                &:hover i {
                    transform: scale(1.06);
                }
            }
        }

        &__item.active a {
            color: $secondary-color;
        }

        &__item i {
            font-size: 20px;
        }

        &__item span {
            display: none;

            font-size: 12px;
            font-weight: 700;
        }

        &__item--main {
            transform: translateY(calc(-50% - 20px));

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                border: none !important;

                margin: 0;
                padding: 0;

                width: 76px;
                height: 76px;
                border-radius: 50%;

                background-color: $secondary-color !important;
                transition: $default-transition;

                &:hover {
                    transform: scale(1.04);
                }

                i {
                    color: $bg-color;
                    font-size: 24px;
                }
            }
        }
    }
}

.menu-is-open .tabs__item--more a {
    color: $secondary-color;
}

.menu-is-open .tabs__item:not(.tabs__item--more) a {
    color: $text-color;
}
