@use "../base/config" as *;

/* ==========================================================================
	#MENU
========================================================================== */
.menu-wrapper {
    position: fixed;

    right: 0;
    bottom: 0;
    left: 0;

    padding: 30px 18px 80px 18px;
    max-width: 480px;
    margin: 0 auto;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    background-color: #fff;

    transform: translateY(120%);
    transition: all 350ms ease-in-out;

    z-index: 1000;
}

.menu-is-open .menu-wrapper {
    transform: translateY(-$tabbar-height);
}

.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;

    &__item {
        position: relative;

        &:nth-child(4n + 2),
        &:nth-child(4n + 3) {
            i {
                color: $secondary-color;
            }
        }
    }

    &__item--inline {
        grid-column: span 2;

        i {
            display: none;
        }
    }

    &__item.hr {
        position: relative;
        padding-top: 22px;
        margin-top: 12px;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            height: 2px;

            background-color: $line-color;
        }
    }

    &__item a {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        padding: 12px;

        color: $text-color;
        text-decoration: none;
        font-weight: 700;

        font-size: 15px;
        text-align: left;
        // text-align: center;
        line-height: 1;

        background-color: #fff;
        border-radius: 12px;
        border: $border-settings;
        height: 100%;

        word-break: break-word;
    }

    &__item a.disabled {
        opacity: 50%;
        pointer-events: none;
    }

    &__item.active a {
        background-color: $primary-color;
        border-color: $primary-color;
        color: #fff;

        i {
            color: #fff;
        }
    }

    &__item i {
        color: $primary-color;
        margin-bottom: 10px;
        font-size: 1.25rem;
    }

    &__item--secondary i {
        color: $secondary-color;
    }

    &__item--chat {
        position: relative;
        width: 100%;
    }

    span {
        line-height: 1.3;
    }
}

.menu-wrapper {
    .menu {
        &__item--more {
            display: none;
        }
    }
}

// Notification badge
.menu__item--chat::before,
.tabs__item--more::before,
.tabs__item--chat::before,
.menu__item--support::before {
    content: "";
    position: absolute;
    top: calc(6px + 10px);
    right: calc(6px + 10px);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 12px;
    height: 12px;

    color: #fff;
    font-size: 12px;
    font-weight: 700;

    background-color: #ffcd55;
    border-radius: 50%;

    animation: pulse 1s infinite;

    opacity: 0;
}

.tabs__item--more::before,
.tabs__item--chat::before {
    width: 8px;
    height: 8px;

    right: calc((25% - 1rem) + 4px);
    top: calc(14px + 6px);
    animation: none;
}

main .menu__item--inline::before {
    top: 50%;
    right: 1rem;
    transform: translateY(calc(-50% + 11px));
}

.menu__item--chat.menu__item--notification::before,
.menu__item--support.menu__item--notification::before,
.tabs__item--more.tabs__item--notification::before,
.tabs__item--chat.tabs__item--notification::before,
.menu__item--support.tabs__item--notification::before {
    opacity: 1;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 205, 85, 0.7);
    }
    50% {
        box-shadow: 0 0 0 10px rgba(255, 205, 85, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 205, 85, 0);
    }
}

.tabbar-container {
    .menu__item--inline {
        grid-column: span 1;

        i {
            display: block;
        }
    }

    .menu__item.hr {
        padding: 0;
        margin: 0;

        &::after {
            display: none;
        }
    }
}

.tabbar-container > .menu-wrapper .menu__item:nth-of-type(odd):last-child {
    grid-column: span 2;
}
