@use "../base/config" as *;
@use "../utils/includes/breakpoints" as *;

.push-modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;

    max-width: 480px;
    margin: 0 auto;
    min-height: 200px;
    padding: 0 24px;

    border-top-left-radius: $mobile-corner-radius;
    border-top-right-radius: $mobile-corner-radius;

    background-color: #fff;

    transform: translateY(100%);
    transition-duration: 650ms;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

    z-index: 1;

    &.open {
        transform: translateY(0);
    }

    &__header {
        text-align: center;
        text-transform: uppercase;
        color: $subtext-color;
        font-size: 14px;

        padding: 14px 0 12px 0;
        border-bottom: 1px solid $line-color;
    }

    &__content {
        flex: 1;
        padding: 24px 0;

        &.center,
        &.center .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        i {
            font-size: 32px;
            color: $icon-color;
            margin-bottom: 10px;
        }

        .subtitle {
            text-transform: none;
        }

        .title,
        .subtitle {
            margin: 0;
        }

        .subtitle {
            margin-top: 6px;
        }
    }

    &--fixed {
        transform: none;
    }
}

/* 
        if ( aside !collapsed) {
            width = "320px";
        } else if (aside hovered) {
            width = "calc(1.5rem + 50px + 1.5rem + 10px + 1rem + 20px + 1rem)";
        } else {
            width = "calc(1.5rem + 50px + 1.5rem + 0px)";
        }
*/

.main--panel {
    // flex: 1;
    // padding-bottom: 0;

    // @include from(l) {
    //     display: flex;
    //     flex-direction: row;

    //     & > * {
    //         flex: 1;
    //     }
    // }

    & > .container {
        transition-duration: $menu-transition-duration;
        transition-timing-function: $menu-transition-timing-function;
    }

    &.open {
        margin-left: calc(1.5rem + 50px + 1.5rem + 0px);

        & > .container {
            transform: translateX(-90%);

            @include from(l) {
                transform: translateX(0);
                // margin-left: 0;
                margin: 0;
                width: 50%;
                max-width: none;
            }
        }

        .page-modal {
            transform: translateX(0);
            opacity: 1;

            &::before {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
}

.push-modal--open {
    aside {
        @include from(l) {
            // transform: translateX(-100%);
            width: calc(1.5rem + 50px + 1.5rem + 0px);
        }
    }
}

.page-modal {
    position: fixed;
    top: $nav-header-height;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    opacity: 0;
    z-index: 2000;
    transform: translateX(100%);
    transition-duration: $menu-transition-duration;
    transition-timing-function: $menu-transition-timing-function;

    @include from(l) {
        top: 0;
        //width: calc(50% - 3rem);

        width: calc(
            (50% + 20px + 20px) - (6px) - (1.5rem + 50px + 1.5rem + 0px)
        );

        &::before {
            display: none;
        }
    }

    &::before {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // background-color: rgba(0, 0, 0, 0.5);
        z-index: 1999;
        opacity: 0;
        transition-duration: $menu-transition-duration;
        transition-timing-function: $menu-transition-timing-function;
        pointer-events: none;
    }

    &__content {
        position: relative;
        flex: 1;
        z-index: 2000;

        width: 90%;
        padding: 20px 0 20px 0;

        border-left: $border-settings;
        background-color: $bg-color;

        overflow-y: scroll;

        // custom scrollbars
        &::-webkit-scrollbar {
            width: 2px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $success-color;
            border-radius: 4px;
        }

        .container {
            padding-left: 34px;

            @media only screen and (min-width: 1670px) {
                padding-left: 0;
            }
        }

        @include from(l) {
            width: 100%;
            padding-top: 0;
        }
    }

    &__btn {
        $btnWidth: 46px;

        position: absolute;
        top: 50%;
        left: 10%;

        transform: translate(calc($btnWidth / 2 * -1), -50%);

        display: flex;
        align-items: center;
        justify-content: center;

        width: $btnWidth;
        height: $btnWidth;
        min-width: $btnWidth;
        padding: 0;

        border-radius: 50%;
        background-color: $secondary-color;
        z-index: 2001;

        @include from(l) {
            left: 0;

            transform: translate(calc($btnWidth / 2 * -1), -50%);
        }

        i {
            color: $bg-color;
            font-size: 18px;
        }
    }
}
