@use "sass:color";
/* =============================================================================
  #COLORS
============================================================================= */
$primary-color: #0d1313;
$primary-color-dark: color.adjust($primary-color, $lightness: -5%);
$primary-color-light: color.adjust($primary-color, $lightness: 5%);

$secondary-color: #ffcc00;
$secondary-color-rgb: rgb(255, 204, 0);
$secondary-color-dark: color.adjust($secondary-color, $lightness: -5%);
$secondary-color-light: color.adjust($secondary-color, $lightness: 5%);

$logo-gradient: linear-gradient(
    90deg,
    #02f 0%,
    #f600ff 25.48%,
    #ff4800 49.52%,
    #ff8c00 75%,
    #fc0 100%
);

$light-color: #fcfcfc;
$bg-color: #0d1313;
$white-color: #f1f5ff;

$text-color: #8991a4;
$subtext-color: #464b58;
$heading-color: $white-color;

$line-color: #313642;
$icon-color: $text-color;

$error-color: #ff4800;
$warning-color: #f97437;
$success-color: #9dff00;

$tabbar-color: #25282e;
$tabbar-line-color: #4a505c;
$tabbar-inactive-color: $text-color;
$tabbar-active-color: $secondary-color;
/* =============================================================================
  #TYPOGRAPHY
============================================================================= */
$default-font: "Rubik", Arial, Helvetica, sans-serif;
$heading-font: "Rubik", Arial, Helvetica, sans-serif;

/* =============================================================================
  #DIMENSIONS
============================================================================= */
$header-height: 180px;
$tabbar-height: 90px;
// $tabbar-height: 100px;
$pwa-prompt-height: 70px;

// Padding
$container-padding: 1.5rem;
$padding-default: 1.5rem;
$padding-small: 1rem;

$mobile-corner-radius: 30px;
$button-corner-radius: 2rem;
/* =============================================================================
  #OTHER
============================================================================= */
$border-settings: 1px solid $line-color;
$default-border-radius: 10px;

// Transition
$default-transition: all 150ms ease-in-out;

$container-max-width: 900px /* 970 1440px*/;

//  breakpoints
$breakpoints: (
    "xs": 320px,
    // mobile
    "s": 480px,
    // phablet
    "m": 768px,
    // tablet
    "l": 977px,
    // desktop
    "xl": 1200px,
    // widescreen
    "xxl": 1680px,
    // fullhd
);

/* =============================================================================
  #SPECIAL TRANSITION CONFIGS
============================================================================= */
$bounce-transition-duration: 581.71ms;
$bounce-transition-timing-function: linear(
    0 0%,
    0.005927 1%,
    0.022466 2%,
    0.047872 3%,
    0.080554 4%,
    0.119068 5%,
    0.162116 6%,
    0.208536 7.000000000000001%,
    0.2573 8%,
    0.3075 9%,
    0.358346 10%,
    0.409157 11%,
    0.45935 12%,
    0.508438 13%,
    0.556014 14.000000000000002%,
    0.601751 15%,
    0.645389 16%,
    0.686733 17%,
    0.72564 18%,
    0.762019 19%,
    0.795818 20%,
    0.827026 21%,
    0.855662 22%,
    0.881772 23%,
    0.905423 24%,
    0.926704 25%,
    0.945714 26%,
    0.962568 27%,
    0.977386 28.000000000000004%,
    0.990295 28.999999999999996%,
    1.001426 30%,
    1.010911 31%,
    1.018881 32%,
    1.025465 33%,
    1.030792 34%,
    1.034982 35%,
    1.038155 36%,
    1.040423 37%,
    1.041892 38%,
    1.042662 39%,
    1.042827 40%,
    1.042473 41%,
    1.04168 42%,
    1.040522 43%,
    1.039065 44%,
    1.037371 45%,
    1.035493 46%,
    1.03348 47%,
    1.031376 48%,
    1.029217 49%,
    1.027037 50%,
    1.024864 51%,
    1.022722 52%,
    1.020631 53%,
    1.018608 54%,
    1.016667 55.00000000000001%,
    1.014817 56.00000000000001%,
    1.013067 56.99999999999999%,
    1.011422 57.99999999999999%,
    1.009887 59%,
    1.008462 60%,
    1.007148 61%,
    1.005944 62%,
    1.004847 63%,
    1.003855 64%,
    1.002964 65%,
    1.002169 66%,
    1.001466 67%,
    1.000848 68%,
    1.000311 69%,
    0.999849 70%,
    0.999457 71%,
    0.999128 72%,
    0.998858 73%,
    0.99864 74%,
    0.99847 75%,
    0.998342 76%,
    0.998253 77%,
    0.998196 78%,
    0.998169 79%,
    0.998167 80%,
    0.998186 81%,
    0.998224 82%,
    0.998276 83%,
    0.998341 84%,
    0.998415 85%,
    0.998497 86%,
    0.998584 87%,
    0.998675 88%,
    0.998768 89%,
    0.998861 90%,
    0.998954 91%,
    0.999045 92%,
    0.999134 93%,
    0.99922 94%,
    0.999303 95%,
    0.999381 96%,
    0.999455 97%,
    0.999525 98%,
    0.999589 99%,
    0.99965 100%
);
