@use "./config" as *;
@use "../utils/includes/breakpoints" as *;
*,
::after,
::before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

*,
::after,
::before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    min-height: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;

    font-family: $default-font;
    color: $text-color;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: flex;
    flex-direction: column;

    min-height: 100%;
    // max-width: 480px;
    margin: 0 auto;

    background-color: $bg-color;

    &.backdrop::before,
    &.menu-is-open::before {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 950;
    }

    &.overlay--prompt::before {
        z-index: 2800;
    }

    &.backdrop,
    &.menu-is-open,
    &.prevent-scroll {
        overflow: hidden;
    }

    &.menu-is-open > *,
    &.backdrop > * {
        position: relative;
    }

    &.primary-bg {
        background-color: $primary-color;
    }
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;

    padding-top: 20px;
    padding-bottom: 20px;

    transition-property: margin;
    transition-duration: $menu-transition-duration;
    transition-timing-function: $menu-transition-timing-function;
    margin: $nav-header-height 0 0 0;

    @include from(l) {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 40px;
        margin-left: $dashboard-menu-width;
    }

    .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include from(l) {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
        }

        // @include from(xxl) {
        //     max-width: 580px;
        // }

        .content {
            width: 100%;
        }
    }
}

// .stack-page .main .container {
//     @include from(l) {
//         max-width: 800px;
//     }
// }

.home-page,
.item-page:has(.container--full) {
    #root,
    .App {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

html,
body,
#root,
.App,
.main {
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE 10+
    &::-webkit-scrollbar {
        display: none; // Safari and Chrome
    }
}

.highlight-block {
    border-radius: 6px;
    padding: 20px;
    background-color: #1e2126;

    p {
        font-style: italic;
    }

    s {
        color: #5b6170;
    }
}
