@use "../base/config" as *;

.step-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .dot {
        width: 7px;
        height: 7px;
        border-radius: 50%;

        background-color: $subtext-color;

        transition: $default-transition;

        &.active {
            width: 10px;
            height: 10px;
            background-color: $secondary-color;
        }
    }
}
